<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    {% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../../css/checklist.css">
  </head>
  <body>
    <div class="col-container">
      <div class="col">
        {% block left %}
        {% endblock %}
      </div>
      <div class="col">
        {% block middle %}
        {% endblock %}
      </div>
      <div class="col">
        {% block right %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
