{% autoescape false %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Warrior III - Bedford</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='landscape.css') }}">
</head>

{% macro checklist(details) %}
<div class="checklist {{details.class}}">
  <div class="section-title">{{details.title}}</div>
  {% for i in details.steps %}
  {% for k, v in i|items %}
  <div class="row">
    <div class="col left">{{k}}</div>
    <div class="col middle"></div>
    <div class="col right">{{v}}</div>
  </div>
  {% endfor %}
  {% endfor %}
</div>
{% endmacro %}

{% macro briefing(details) %}
<div class="checklist briefing">
  <div class="section-title">{{details.title}}</div>
  {% for i in details.steps %}
  <div class="row">
    <div class="col middle">
      <div class="bold">{{i.bold}}</div>
      <div class="ital">{{i.ital}}</div>
      <div class="body">
        <ul>
        {% for li in i.ul %}
          <li>{{li}}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{# 
AIR VENT LOCATIONS AND CONTROLS
Speak up if you are feeling airsick or unwell, and we will return promptly. If you think you may throw up, there is a sick-bag available: throwing up on the controls or instrument panel could be dangerous."
There is no fire extinguisher onboard. In the unlikely event of a fire I will follow pre-established emergency procedures and land as soon as possible.

"DEMONSTRATE EXIT LOCATION & MECHANISM
Do not attempt to open the door until the plane is parked and the propeller stopped. When exiting, always exit away from the propeller."
"We will observe a ""sterile cockpit"" during critical phases of flight, which means no unnecessary talking or distractions during taxi, takeoff, and landing.
This flight will follow Visual Flight Rules, meaning I am responsible for seeing and avoiding any other traffic. If you spot another aircraft, go ahead and point it out."
Do you have any questions? 
#}
{% endmacro %}


<body>
  <div class="paper">
    <div class="page left">
      <div class="column left">
        <div class="title">Piper Warrior III</div>
        <div class="subtitle">PA-28-161</div>
        <div class="subtitle">Bedford Checklists</div>
      </div>
      <div class="column right">
      </div>
    </div>
    <div class="page right">
      <div class="column left">
        {{checklist(data.preflight.cockpit)}}
        {{checklist(data.preflight.right_wing)}}
      </div>
      <div class="column right">
        {{checklist(data.preflight.nose)}}
        {{checklist(data.preflight.left_wing)}}
        {{checklist(data.preflight.fuselage)}}
      </div>
    </div>
  </div>
  <div class="paper">
    <div class="page left">
      <div class="column left">
        {{checklist(data.before_engine_start)}}
        {{checklist(data.engine_start)}}
        {{checklist(data.before_taxi)}}
      </div>
      <div class="column right">
        {{briefing(data.passenger_safety_brief)}}
        {{briefing(data.pre_taxi_brief)}}
      </div>
    </div>
    <div class="page right">
      <div class="column left">
        {{checklist(data.taxi)}}
        {{checklist(data.engine_runup)}}
        {{checklist(data.before_takeoff)}}
      </div>
      <div class="column right">
      </div>
    </div>
  </div>
</body>

</html>
{% endautoescape %}