{% autoescape false %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Warrior III - Bedford</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='landscape.css') }}">
</head>

{% macro checklist(details) %}
<div class="checklist {{details.class}}">
  <div class="section-title">{{details.title}}</div>
  {% for i in details.steps %}
  {% for k, v in i|items %}
  <div class="row">
    {% if v %}
    <div class="col left">{{k}}</div>
    <div class="col middle"></div>
    <div class="col right">{{v}}</div>
    {% else %}
    <div class="col middle">
      <div class="bold">{{k}}</div>
    </div>
    {% endif %}
  </div>
  {% endfor %}
  {% endfor %}
</div>
{% endmacro %}

{% macro briefing(details) %}
<div class="checklist briefing">
  {% if details.title %}
  <div class="section-title">{{details.title}}</div>
  {% endif %}
  {% for i in details.steps %}
  <div class="row">
    <div class="col middle">
      <div class="bold">{{i.bold}}</div>
      <div class="ital">{{i.ital}}</div>
      <div class="body">
        <ul>
        {% for li in i.ul %}
          <li>{{li}}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endfor %}
  {% if details.radio %}
  <div class="row">
    <div class="col middle">
      <div class="radio">{{details.radio}}</div>
    </div>
  </div>
  {% endif %}
</div>
{% endmacro %}


<body>

  <div class="paper">
    <div class="page left">
      <div class="column single">
        <div class="title">Piper Warrior III</div>
        <div class="subtitle">PA-28-161</div>
        <div class="subtitle">Bedford Checklists</div>
        <p>XC plan items:</p>
        <ul>
          <li>Airports: frequencies, runways, field altitude, pattern altitude</li>
          <li>Cruising altitude, time to descend</li>
          <li>Total weight</li>
          <li>Endurance</li>
        </ul>
        <p>Last flight review, next required</p>
        <p>Medical expire date</p>
        <p>Warrior II with primer: primer in and locked</p>
        <p>Add to list: everything from flight bag... sentry, ipad, pair with sentry/stratus, </p>
        <p>buy energizer aa lithium</p>
        <p>reminder or alarm or pnemonic for switching fuel tanks... like on approach freq change</p>
        <p>keys on dash</p>
        <p>preflight checklist no need to be accessible in flight in book</p>
        <p>create dedicated radio block macro, not part of briefing</p>
        <p>dont use same classes for briefing and checklist, simpler CSS</p>
      </div>
    </div>
    <div class="page right">
      <div class="column left">
        {{checklist(data.preflight.cockpit)}}
        {{checklist(data.preflight.right_wing)}}
      </div>
      <div class="column right">
        {{checklist(data.preflight.nose)}}
        {{checklist(data.preflight.left_wing)}}
        {{checklist(data.preflight.fuselage)}}
      </div>
    </div>
  </div>

  <div class="paper">
    <div class="page left">
      <div class="column left">
        {{checklist(data.before_engine_start)}}
        {{checklist(data.engine_start)}}
        {{checklist(data.before_taxi)}}
      </div>
      <div class="column right">
        {{briefing(data.passenger_safety_brief)}}
        {{briefing(data.pre_taxi_brief)}}
      </div>
    </div>
    <div class="page right">
      <div class="column left">
        {{checklist(data.taxi)}}
        {{checklist(data.engine_runup)}}
        {{checklist(data.before_takeoff)}}
      </div>
      <div class="column right">
        {{briefing(data.pre_takeoff_brief)}}
        {{checklist(data.takeoff)}}
      </div>
    </div>
  </div>

  <div class="paper">
    <div class="page left">
      <div class="column left">
        {{checklist(data.climb)}}
        {{checklist(data.cruise)}}
        {{checklist(data.fuel_tank_switch)}}
        {{checklist(data.descent)}}
        {{checklist(data.approach_and_landing)}}
      </div>
      <div class="column right">
        {{checklist(data.after_landing)}}
        {{briefing(data.after_landing_radio)}}
        {{checklist(data.shutdown)}}
      </div>
    </div>
    <div class="page right">
      <div class="column left">
        {{checklist(data.emergency.engine_fire_start)}}
        {{checklist(data.emergency.engine_power_loss_in_flight)}}
        {{checklist(data.emergency.engine_roughness)}}
      </div>
      <div class="column right">
        {{checklist(data.emergency.power_off_landing)}}
      </div>
    </div>
  </div>

</body>

</html>
{% endautoescape %}