{% macro item_row(details, margin=True) %}
  {% set heading_class = details.get("kwargs", {}).get("heading_class", "black-heading") %}
  {% set item_class = details.get("kwargs", {}).get("item_class", "") %}

  <h2 class="heading {{heading_class}} {% if margin %}heading-margin{% endif %}">
    {{details.title}}
  </h2>

  {% for i in details.steps %}
    {% set outer_last = loop.last %}
    {% for k, v in i|items %}
    <div class="item-row {% if outer_last %}no-border{% endif %}">
      <div class="item-column item-column-left {{item_class}}">{{k}}</div>
      <div class="item-column item-column-center periods {{item_class}}">
      </div>
      <div class="item-column item-column-right {{item_class}}">{{v}}</div>
    </div>
    {% endfor %}
  {% endfor %}
{% endmacro %}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="./single_list.css">
  </head>
  <body>
    <div class="col-container">
      <div class="col">
        <h3 class="heading">Reference</h3>
        {% for k, v in reference|items %}
          {{ item_row(v) }}
        {% endfor %}
      </div>
      <div class="col">
        <h3 class="heading">Maneuvers</h3>
        {% for k, v in maneuvers|items %}
          {{ item_row(v) }}
        {% endfor %}
      </div>
      <div class="col">
        <h3 class="heading">Emergencies</h3>
        {% for k, v in emergency|items %}
          {{ item_row(v) }}
        {% endfor %}
      </div>
      <div class="col">
        <h3 class="heading">Preflight Checklist</h3>
        {% for k, v in preflight|items %}
          {{ item_row(v) }}
        {% endfor %}
      </div>
      <div class="col">
        <h3 class="heading">Normal Operations</h3>
        {% for k, v in normal|items %}
          {{ item_row(v) }}
        {% endfor %}
      </div>
    </div>
  </body>
</html>
