@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('/static/layout.css');

:root {
  --default-font-family: "Roboto Condensed";
  --default-font-size: 10pt;
  --default-font-weight: 400;
  --bold-font-weight: 500;
  --standard-spacing: 2mm;
}


.reference {
  --heading-border-color: gray;
  --heading-background-color: gray;
}


.title {
  font-size: 14pt;
  font-weight: var(--bold-font-weight);
  font-family: "Roboto Slab";
  text-align: center;

  &.sub {
    font-size: 12pt;
  }
}

.section {
  margin-top: var(--standard-spacing);

  &:first-child {
    margin-top: 0;
  }

  border: 0.5mm solid var(--heading-border-color);

  .section-title {
    font-family: "Roboto";
    background-color: var(--heading-background-color);
    border-bottom: 0.5mm solid var(--heading-border-color);
    font-weight: var(--bold-font-weight);
    text-align: center;
    text-transform: uppercase;
  }

  .row {
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 0 0.5mm;

    &:last-child {
      border-bottom: 1px solid transparent;
    }
  }
}

.section.checklist {
  &.preflight {
    --heading-border-color: black;
    --heading-background-color: rgba(0, 0, 0, .1);
  }

  &.ground {
    --heading-border-color: green;
    --heading-background-color: rgba(0, 128, 0, .1);
  }

  &.air {
    --heading-border-color: blue;
    --heading-background-color: rgba(0, 0, 255, .1);
  }

  &.emergency {
    --heading-border-color: red;
    --heading-background-color: rgba(255, 0, 0, .1);
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .col.middle {
      flex: 1;
    }

    .col.right {
      text-align: right;
      text-transform: uppercase;
      font-weight: var(--bold-font-weight);
    }
  }
}

.section.briefing {
  --heading-border-color: rgb(242, 172, 41);
  --heading-background-color: rgba(242, 172, 41, .1);

  .row {
    span {
      border-radius: 0.7mm;
      border: 1px solid #777;
      color: #444;
      padding: 0 0.5mm;
    }

    .bold {
      font-weight: var(--bold-font-weight);
    }

    .ital {
      font-style: italic;
    }

    .body {
      ul {
        margin: 0 0 0 3.5mm;
        padding: 0;
      }
    }

    .radio {
      font-style: italic;
      line-height: 170%;
      border-radius: 1mm;
    }
  }
}


.section.radio {
  --heading-border-color: rgb(128, 0, 128);
  --heading-background-color: rgba(128, 0, 128, .1);

  .row {
    font-style: italic;
    line-height: 170%;
    border-radius: 1mm;
    padding: var(--standard-spacing);

    span {
      border-radius: 0.7mm;
      border: 1px solid #777;
      color: #444;
      padding: 0 0.5mm;
    }
  }
}








@page {
  margin: 0;
  size: letter landscape;
}

@media screen {
  body {
    background: #e0e0e0;
  }

  .paper {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0, 0, 0, .3);
    margin: 5mm auto;
  }
}