{% extends "template/base.jinja" %}

{% block head %}
<title>Piper Arrow III Preflight</title>
{% endblock %}

{% block title %}
<h3 class="heading">Preflight Checklist</h3>
<h4 class="heading">Piper Arrow III (PA-28R-201)</h4>
<div class="unhighlight">Northampton Airport</div>
<div class="unhighlight">Updated January 20th, 2024</div>
{% endblock %}

{% block left %}
{{ item_row(preflight.cockpit_safety_check) }}
{{ item_row(preflight.cabin) }}
{{ item_row(preflight.electrical) }}
{% endblock %}

{% block right %}
{{ item_row(preflight.right_wing, margin=False) }}
{{ item_row(preflight.nose) }}
{{ item_row(preflight.left_wing) }}
{% endblock %}