{% extends "template/base.jinja" %}

{% block head %}
<title>Piper Arrow III Preflight</title>
{% endblock %}

{% block title %}
{% endblock %}

{% block left %}
{{ item_row(preflight.body, margin=False) }}
{{ item_row(preflight.finish) }}
{{ item_row(preflight.before_engine_start) }}
{% endblock %}

{% block right %}
{{ item_row(preflight.engine_start, margin=False) }}
{{ item_row(preflight.before_taxi) }}
{{ item_row(preflight.taxi) }}
{% endblock %}