{% extends "template/base.jinja" %}

{% block head %}
<title>Piper Arrow III Ground Operations</title>
{% endblock %}

{% block title %}
<h3 class="heading">Normal Operations</h3>
<h4 class="heading">Piper Arrow III (PA-28R-201)</h4>
<div class="unhighlight">Northampton Airport</div>
<div class="unhighlight">Updated January 20th, 2024</div>
{% endblock %}

{% block left %}
{{ item_row(normal.normal_takeoff) }}
{{ item_row(normal.climb) }}
{{ item_row(normal.cruise) }}
{{ item_row(normal.fuel_tank_switch) }}
{{ item_row(normal.descent_and_approach) }}
{% endblock %}

{% block right %}
{{ item_row(normal.approach_and_landing, margin=False) }}
{{ item_row(normal.after_landing) }}
{{ item_row(normal.shutdown) }}
{{ item_row(normal.when_prop_stops) }}
{% endblock %}