{% macro item_row(details, margin=True) %}
  {% set heading_class = details.get("kwargs", {}).get("heading_class", "black-heading") %}
  {% set item_class = details.get("kwargs", {}).get("item_class", "") %}

  <h2 class="heading {{heading_class}} {% if margin %}heading-margin{% endif %}">
    {{details.title}}
  </h2>

  {% for i in details.steps %}
    {% set outer_last = loop.last %}
    {% for k, v in i|items %}
    <div class="item-row {% if outer_last %}no-border{% endif %}">
      <div class="item-column item-column-left {{item_class}}">{{k}}</div>
      <div class="item-column item-column-center periods {{item_class}}">
      </div>
      <div class="item-column item-column-right {{item_class}}">{{v}}</div>
    </div>
    {% endfor %}
  {% endfor %}
{% endmacro %}


<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    {% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../../css/checklist.css">
  </head>
  <body>
    <div class="col-container">
      <div class="col col-left">
        {% block title %}
        {% endblock %}

        {% block left %}
        {% endblock %}
      </div>
      {# <div class="col">
        {% block middle %}
        {% endblock %}
      </div> #}
      <div class="col col-right">
        {% block right %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
